.spot-page {
    margin-left: 50px;
    ;
}

.spot-details-header {
    display: flex;
}

.spot-details-reviews {
    margin-left: 7px;
    margin-right: 7px;
    text-decoration: underline;
}

.spot-header-location {
    text-decoration: underline;

}

.spot-details-filler {
    margin-right: 5px;
}

.top-user-container {
    display: flex;

}

.spot-image-header {
    height: 350px;
    width: 500px;
    border: solid black;
    margin-top: 20px;
    margin-bottom: 20px;
}

.spot-image-header-image {
    height: 100%;
    width: 100%
}


.spot-details-bottom {
    margin-top: 45px;
    margin-bottom: 40px;
    border-bottom: 1px solid rgba(55, 43, 43, 0.3);
}

.p-description {
    width: 600px;
}

.massive-bttn {
    height: 85px;
    width: 350px;
    background-color: transparent;
    border: 1px solid rgba(55, 43, 43, 0.3);
    border-radius: 12px;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 5px 15px;
}

.price-text {
    display: flex;
    flex-direction: column;
}

.user-review {
    border: solid;
    margin-bottom: 15px;
    margin-left: 50px;

}

.review-header {
    display: flex;

}

.name-date {
    display: flex;
    flex-direction: column;
    margin-left: 8px;
}


.actual-review {
    text-align: justify;
}

.profile-icon {
    margin-top: 15px;
    margin-left: 10px
}
