/* .spot-whole-container {
    margin-left: 100px;
} */


.divider {
    height: 200px;
    background-image: linear-gradient(to right, rgb(101, 34, 210), rgb(255, 74, 161));
    margin-bottom: 50px;
    padding: 45px 0 20px 100px;
}

.today-text {
    color: white;
}

.p-text {
    color: white;
}

.location {
    text-decoration: none;
}

.add-spot-bttn {
    height: 35px;
    background-color: white;
    border: none;
    border-radius: 9px;
    padding: 8px 12px;
}

.location-image {
    height: 250px;
    width: 280px;
}

.img-link {
    text-decoration: none;
}

.my-spot-image {
    height: 100%;
    width: 100%;
    border-radius: 15px;
}

.edit-host-bttn,
.delete-host-bttn {
    margin: 2px;
    color: white;
    border: none;
    border-radius: 4px;
    height: 23px;
    width: 75px;
    background-image: linear-gradient(to right, rgb(233, 28, 72), rgb(236, 38, 108));
}
